<div id="header">
  <div class="container">
    <div class="row">
      <span class="description">uma seleção de produtos</span>
      <strong class="title">especial para você</strong>
      <p class="text">Todos os produtos desta lista foram selecionados a partir da sua navegação. Aproveite!</p>
    </div>
    <ul class="nav">
      <li class="nav-item">
        <a class="nav-link" target="_blank" href="https://www.linx.com.br">Conheça a Linx</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" target="_blank" href="https://www.linx.com.br/transformacao-digital/linx-impulse/">Ajude o algorítimo</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#products">Seus produtos</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#news-letter">Compartilhe</a>
      </li>
    </ul>
  </div>
</div>
